/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling of the entire page */
}

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling within the fullscreen image container */
}

.fullscreen-image img {
    display: block;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
}
